<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="chat-container">
        <h2>Chat Room</h2>
        <div id="chat-box"></div>
        <div id="input-container">
            <input type="text" id="message" placeholder="Enter your message here..."/>
            <button id="send-button" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script type="text/javascript">
        var socket = io();
        
        const messages = {{ messages | tojson }};
        const chatBox = document.getElementById('chat-box');

        messages.forEach((data) => {
            var messageDiv = document.createElement('div');
            messageDiv.classList.add('message');
            messageDiv.innerHTML = `<strong>${data.name}</strong>: ${data.message} <span class="timestamp">${new Date().toLocaleString()}</span>`;
            chatBox.appendChild(messageDiv);
        });

        socket.on('message', function(data) {
            var messageDiv = document.createElement('div');
            messageDiv.classList.add('message');
            messageDiv.innerHTML = `<strong>${data.name}</strong>: ${data.message} <span class="timestamp">${new Date().toLocaleString()}</span>`;
            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
        });

        function sendMessage() {
            var messageInput = document.getElementById('message');
            var message = messageInput.value;
            if (message !== "") {
                socket.emit('message', {data: message});
                messageInput.value = '';
            }
        }
    </script>
</body>
</html>
